
.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-info {
    margin-right: 4px;
}
.divider {
    color: var(--funColor);
    font-size: larger;
}

.svg-size {
    width: 3.6rem;
    height: 3.6rem;
}

.side-buttons { 
    display: flex;
}

#myCanvas {
    height: 4rem;
    width: 8rem;
    transform: rotate(-90deg) scaleY(-1);
    margin-right: -2rem;
}

.hour-display {
    display: flex;
    align-items: center;
}

.loading {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}


.identifyer {
    display: flex;
    align-items: center;
}