<app-header [title]="'Cars'"></app-header>

<div class="content-wrapper">
    
    <div class="button-wrapper">
        <app-button [color]="colors.platformHighlight"  [backgroundcolor]="colors.platform" style="margin-right: .1rem;" (click)="editToggle()">Edit</app-button>
        <app-button [color]="colors.platformHighlight" [backgroundcolor]="colors.platform" (click)="navigate()">+</app-button>
    </div>

    <div class="cars-wrapper">
        <div class="car-wrapper" *ngFor="let car of cars">
            <app-car-view [editable]="editable" [car]="car" (update)="refreshCars()"></app-car-view>

        </div>
    </div>

</div>