<app-header [title]="'Car Details'"></app-header>


<div class="wrapper">

    <form [formGroup]="carForm" style="display: flex; flex-direction: column">
        <input formControlName="name"/>
        <input formControlName="make"/>
        <input formControlName="model"/>
        <input formControlName="year"/>
        <input formControlName="plate"/>
        <div class="colors" >
            <div *ngFor="let color of colors" class="item"  [ngStyle]="{'background-color': showColor(color)}" (click)="selectColor(color)"></div>
        </div>
    </form>


    <div (click)="save()" class="submit-button">
        <div>Save</div>
    </div>
</div>