.colors {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.item {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 10rem;
    border: 1px solid grey;
}

.submit-button {
    font-size: larger;
    font-weight: bolder;
    background-color: #75A2E5;
    color: black;
    
    display: flex;
    justify-content: center;

    padding: 1.5rem;
    margin: 1rem;
    border-radius: 1rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trash-wrapper-outer {
    display: flex;
}

.trash-wrapper-inner {
    border-radius: 1rem;
    margin-left: 1rem;
}

@keyframes visbile {
    from {opacity: 0;}
    to {opacity: 100;}
  }

.loading {
    display: flex;
    flex-direction: row;
}

.loading-1 {
    animation-iteration-count: infinite;
    animation-name: visbile;
    animation-duration: 2s;
    animation-timing-function: ease-in-out
}
  
.loading-2 {
    animation-iteration-count: infinite;
    animation-name: visbile;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-timing-function: ease-in-out;

}

.loading-3 {
    animation-iteration-count: infinite;
    animation-name: visbile;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}

.loading-4 {
    animation-iteration-count: infinite;
    animation-name: visbile;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-timing-function: ease-in-out;
}